arrow==1.2.3
astropy==5.1
attrs==22.1.0
autopep8==1.6.0
h5py==3.7.0
ipykernel==6.19.2
ipython==8.12.0
ipywidgets==8.0.4
jedi==0.18.1
jinja2==3.1.2
joblib==1.2.0
notebook==6.5.4
nvidia-cuda-runtime-cu12==12.1.105
onnxruntime-gpu==1.15.0
torch==2.0.0
numpy==1.23.5
pandas==2.0.0
pyvirtualdisplay==3.0
openpyxl==3.0.10
optuna==3.2.0
requests==2.31.0
scikit-learn==1.2.2
scipy==1.10.1
statsmodels==0.13.5
sympy==1.11.1
tabulate==0.8.10
tensorboard==2.11.2
transformers==4.30.2
urllib3==1.26.15
